# -------------------------------------------------------------------------
# Logi i dzienniki zdarzeń Vivado
# -------------------------------------------------------------------------
*.jou
*.log
*.str
*.dmp
*.pb

# -------------------------------------------------------------------------
# Pliki i foldery tymczasowe/generowane (zależne od nazwy projektu)
# -------------------------------------------------------------------------
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.hbs/

# -------------------------------------------------------------------------
# Pliki systemowe
# -------------------------------------------------------------------------
.DS_Store
Thumbs.db
*~
*.swp